.logo {
    height: 5vh;
}

body {
    background-color: #823200;
}

.nav-item {
    font-size: 1.5rem;
}

.portada {
    background-image: url(../img/pexels-messala-ciulla-1114226.jpg);
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    align-items: start;
    justify-content: center;
    box-shadow: 0 0 13px black;
}

h1 {
    font-size: 4rem;
}

.portada-texto {
    margin-block-start: 20vh;
    text-align: center;
    color: aliceblue;
    text-shadow: 0 0 13px black;
}

.titulos-h2 {
    font-size: 3rem;
    text-align: center;
    margin: 20px;
    color: white;
    text-shadow: 0 0 5px black;
}

.contenedor-productos-destacados {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    color: white;

}

.card-producto {
    background-color: white;
    width: 300px;
    height: 380px;
    
    border-radius: 5px;
    overflow: hidden;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5px;
    box-shadow: 0 0 5px black;

}

.card-producto img {
    object-fit: cover;
    height: 60%;
}

.card-carrito {
    height: 460px;
}

.card-carrito img {
height: 55%;
}

.card-producto-body {
    width: 100%;
    color: black;
    height: 40%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-producto-price {
    font-size: 2rem;
}

.card-producto:hover {
    translate: 0 -10px;
    filter: drop-shadow(5px 5px 15px white);
}

hr {
    margin:0;
    background-color: gray;
}

.btn {
    background-color: #ae8e1c69;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 8px 10px;
    align-self: center;
}

.btn:hover {
    background-color: #9b3d12;
    color: white;
    border: 2px solid #10002b;
    transform: scale(1.05);
}

.cantidad-contenedor {
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid #DD403A;
    border-radius: 20px;
    width: 120px;
    align-items: center;
}

.cantidad-input {
    width: 30px;
    text-align: center;
    font-weight: bolder;
    font-size: 1.2rem;
}

.cantidad-btn {
    background-color: white;
    border: none;
    color: black;
    font-weight: bolder;
    font-size: 1.5rem;
}

.titulo-carrito {
    margin-top: 10vh;
}

.formulario-busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    gap: 10px;
}

#monto-total {
    text-align: center;
    padding: 15px;
}

.contenedor-compra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}